@font-face {
  font-family: 'Tiempos Text';
  src: url(TiemposText-RegularItalic.eot);
  src: url(TiemposText-RegularItalic.woff2) format('woff2'), url(TiemposText-RegularItalic.woff) format('woff'), url(TiemposText-RegularItalic.ttf) format('truetype'), url(TiemposText-RegularItalic.svg#TiemposText-RegularItalic) format('svg'), url(TiemposText-RegularItalic.eot?#iefix) format('embedded-opentype');
  font-weight: 400;
  font-style: italic
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'Rochester',
    cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  color: #ffffff;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  color: #ffffff;
}

body,
#home1,
#home0,
#home2,
#home3,
#home4,
#home5 {
  position: relative;
  height: 100vh;
  background-image: url('../images/wallpaper2.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.54);
  /* Black background with opacity */
  z-index: 999999;
  /* Specify a stack order in case you're using a different order for other elements */
}

.home-container {
  padding: 60px;
  height: 100vh;
}

#home0 {
  background-image: url('../images/wallpaper0.svg');
  z-index: 9999
}

#home1 {
  background-image: url('../images/wallpaper1.svg');
  z-index: 9999
}

/* #home2 {
  background-image: url('/resources/images/wallpaper2.svg');
  z-index: 9999
} */

#home3 {
  background-image: url('../images/wallpaper3.svg');
  z-index: 9999;
  display: none;
  cursor: pointer;
}

#home4 {
  background-image: url('../images/wallpaper4.svg');
  z-index: 99999;
  display: none;
  cursor: pointer;
}

#home5 {
  background-image: url('../images/wallpaper5.svg');
  z-index: 99999;
  cursor: pointer;
  display: none;
}

#scroll {
  cursor: pointer;
}


#scroll>h6 {
  color: white;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 13px;
    line-height: 22px;
  }

  #scroll>h6 {
    font-size: 12px;
  }
}

/* Article components, mobile */
.article>img {
  background-size: cover;
  margin-top: 20px;
  height: 37px;
  width: 37px;
  margin-left: 3vw;
  cursor: pointer;
}

.image-container {
  position: relative;
  /* text-align: center; */
  color: white;
  font-size: 12px;
}

.image-text-overlay {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
}

.text-overlay-color2 {
  color: rgb(236, 234, 234)
}

.article {
  background: rgba(0, 0, 0, 0.7);
  font-family: "Tiempos Text", sans-serif;
  height: 100%;
  width: 100%;
}

.article p {
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
}

.article h1 {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

#article-1,
#article-2,
#article-3 {
  display: none;
}

#article-1 h1 {
  color: #ce5641;
}

#article-2 h1 {
  color: #ce9a2b;
}

#article-3 h1 {
  color: #8c8c8b;
}

.article-header {
  font-family: "Tiempos Text", sans-serif;
  padding-top: 17px;
  margin: 0 auto;
  width: 80%;
}

.s {
  width: 100%;
}

.content-container {
  margin: 0 auto;
  margin-top: 41px;
  width: 80%;
}

.extra {
  height: 10vw;
}

.content-container p {
  margin-top: 20px;
}

@media screen and (min-width: 1200px)

/* and (-webkit-min-device-pixel-ratio: 1)  */
  {

  .article h1 {
    font-size: 40px;

  }

  .article p {
    font-size: 18px;
    padding-top: 12px;
  }
}